body {
 font-family: Helvetica;
 font-size: 22px;
 color: seashell;
 background-color: black;
 opacity: 0.9;
 margin: 0;
 text-align: center;
}

h2, h3, h4 {
   margin: 0;
   padding: 10px;
}

/*Header*/
header {
 background-color: black;
 height: 69px;
 width: 100%;
 top: 0;
 border-bottom: 1px solid seashell;
 position: fixed;
 z-index: 1;
 align-items: center;
}

.headerbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*Logo*/
header img {
  height: 50px;
  padding-left: 10px;
}

.nav-bar {
   text-align: right;
   flex-grow: 1;
   padding: 20px 10px;
   margin-top: 10px;
}

a {
  text-decoration: underline;
  color: seashell;
  margin: 10px 15px;
}

.flex-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

/*Main Content*/
.content {
  z-index: 0;
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

/*Main image - Our Mission*/
#mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  padding-top: 70px;
}

#mission .main-image {
  margin: auto;
  background-color: black;
  width: 100%;
  align-content: center;
  margin-top: 235px;
}

/*Tea of the Month*/
#teaofthemonth {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.box {
   padding: 5px;
}

.box img {
   height: 200px;
   margin: 10px;
   display: block;
}

/*Locations*/

#locations {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  padding-top: 65px;
}

.locations h2 {
  padding-bottom: 15px;
}

.locationsimage h2 {
 text-align: center;
}

.locations-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Black boxes*/

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 300px;
  text-align: center;
  background-color: black;
  margin: 5px 20px;
  padding: 10px;
  opacity: 1;
  flex-basis: 280px;
}

/*Contact*/
#contact {
  height: 200px;
}

/*Footer*/
footer {
  text-align: left;
  padding-left: 20px;
}
