body {
 font-family: Helvetica;
 font-size: 22px;
 color: seashell;
 background-color: black;
 opacity: 0.9;
 margin: 0;
 text-align: center;
}

/*Header*/
.header {
 background-color: black;
 display: flex;
 height: 69px;
 width: 100%;
 top: 0;
 border-bottom: 1px solid seashell;
 position: fixed;
 z-index: 1;
}

.nav-image {
   display: flex;
   padding-left: 10px;
   flex-grow: 1;
}

.nav-image img {
  height: 50px;
  weight: auto;
  display: flex;
}

.nav-bar {
   text-align: right;
   flex-grow: 1;
   padding: 20px 10px;
   margin-top: 10px;
   justify-content: flex-end;
}

a {
  text-decoration: underline;
  color: seashell;
  padding-top: 15px;
}

/*Body*/
.content {
  z-index: 0;
  position: relative;
  display: flex;
  width: 100%;
  border: 1px solid white;
  flex-direction: column;
  align-items: center;
}

/*Main image*/
.main-image {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
   width: 1200px;
   height: 700px;
   display: flex;
   margin-bottom:  30px;
   padding-top: 65px;
}

.main-image span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

h2, h3, h4 {
   margin: 0;
   padding: 10px;
   width: 100%;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
/*First Container-Tea of the Month*/
.firstcontainer {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   border: 1px solid white;
   width: 1000px;
   margin-bottom: 20px;
}

.firstcontainer img {
   height: 200px;
   width: 300px;
   padding-right: 15px;
   padding-bottom: 10px;
}

.firstcontainer h2 {
   text-align: center;
}

/*Locations*/

#locationscontainer {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  padding-top: 65px;
  border-bottom: 1px solid seashell;
}

#locationscontainer h2 {
  padding-bottom: 15px;
}

.locationsimage h2 {
 text-align: center;
}

/*Black boxes*/

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 300px;
  text-align: center;
  background-color: black;
  border-bottom: 1px solid seashell;
  margin: 5px 20px;
  padding: 10px;
  opacity: 1;
  flex-basis: 280px;
}
